csars/nfv-ns/EPC/xml/nodetypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv/tosca.nodes.nfv.ext.zte.VL/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="name" type="xsd:string"/><element name="is_predefined" type="xsd:boolean"/><element name="vlan_transparent" type="xsd:boolean"/><element name="ip_version" type="xsd:integer"/><element name="cidr" type="xsd:string"/><element name="start_ip" type="xsd:string"/><element name="end_ip" type="xsd:string"/><element name="gateway_ip" type="xsd:string"/><element name="network_name" type="xsd:string"/><element name="network_id" type="xsd:string"/><element name="segmentation_id" type="xsd:string"/><element name="physical_network" type="xsd:string"/><element name="dhcp_enabled" type="xsd:boolean"/><element name="vendor" type="xsd:string"/><element name="mtu" type="xsd:integer"/><element name="network_type" type="xsd:string"/><element name="dns_nameservers" type="list_string"/><element name="host_routes" type="objlist_tosca.datatypes.nfv.ext.HostRouteInfo"/><element name="location_info" type="obj_tosca.datatypes.nfv.ext.LocationInfo"/></sequence></complexType></element></schema>