csars/nfv-ns/EPC/xml/nodetypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv%2Fns/tosca.nodes.nfv.NS.EPC/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/ns/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="id" type="xsd:string"/><element name="vendor" type="xsd:string"/><element name="version" type="xsd:string"/><element name="name" type="xsd:string"/><element name="csarType" type="xsd:string"/><element name="csarVersion" type="xsd:string"/><element name="csarProvider" type="xsd:string"/></sequence></complexType></element></schema>