csars/vnf/vPCRF/xml/capabilitytypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv/tosca.capabilities.nfv.VirtualCompute/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="requested_additional_capabilities" type="map_tosca.datatypes.nfv.RequestedAdditionalCapability"/><element name="virtual_memory" type="obj_tosca.datatypes.nfv.VirtualMemory"/><element name="virtual_cpu" type="obj_tosca.datatypes.nfv.VirtualCpu"/></sequence></complexType></element></schema>