csars/vnf/vEPC/xml/nodetypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv/tosca.nodes.nfv.VduCpd/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="bitrate_requirement" type="xsd:integer"/><element name="virtual_network_interface_requirements" type="objlist_tosca.datatypes.nfv.VirtualNetworkInterfaceRequirements"/><element name="layer_protocol" type="xsd:string"/><element name="role" type="xsd:string"/><element name="description" type="xsd:string"/><element name="address_data" type="list_tosca.datatype.nfv.AddressData"/></sequence></complexType></element></schema>