csars/vnf/vMME/xml/nodetypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv/tosca.nodes.nfv.VDU.Compute/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="name" type="xsd:string"/><element name="descrption" type="xsd:string"/><element name="boot_order" type="list_string"/><element name="nfvi_constraints" type="list_string"/><element name="configurable_properties" type="map_tosca.datatypes.nfv.VnfcConfigurableProperties"/><element name="private_address" type="xsd:string"/><element name="public_address" type="xsd:string"/><element name="networks" type="map_tosca.datatypes.network.NetworkInfo"/><element name="ports" type="map_tosca.datatypes.network.PortInfo"/></sequence></complexType></element></schema>