csars/vnf/vEPC/xml/nodetypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv/tosca.nodes.nfv.VnfVirtualLinkDesc/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="connectivity_type" type="obj_tosca.datatypes.nfv.ConnectivityType"/><element name="description" type="xsd:string"/><element name="test_access" type="list_string"/><element name="vl_flavours" type="map_string"/></sequence></complexType></element></schema>