csars/vnf/vOpenNAT/xml/artifacttypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv/tosca.artifacts.nfv.SwImage/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="name" type="xsd:string"/><element name="version" type="xsd:string"/><element name="checksum" type="xsd:string"/><element name="container_format" type="xsd:string"/><element name="disk_format" type="xsd:string"/><element name="min_disk" type="xsd:string"/><element name="min_ram" type="xsd:string"/><element name="Size" type="xsd:string"/><element name="sw_image" type="xsd:string"/><element name="operating_system" type="xsd:string"/><element name="supported _virtualization_enviroment" type="list_string"/></sequence></complexType></element></schema>