csars/vnf/vMME/xml/capabilitytypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv/tosca.capabilities.Container/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="num_cpus" type="xsd:string"/><element name="cpu_frequency" type="xsd:string"/><element name="disk_size" type="xsd:string"/><element name="mem_size" type="xsd:string"/></sequence></complexType></element></schema>