csars/vnf/vSBC/xml/nodetypes/http%3A%2F%2Fwww.open-o.org%2Ftosca%2Fnfv/tosca.nodes.nfv.VDU.VirtualStorage/propertiesdefinition/Properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.open-o.org/tosca/nfv/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Properties"><complexType><sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="id" type="xsd:string"/><element name="type_of_storage" type="xsd:string"/><element name="size_of_storage" type="xsd:string"/><element name="rdma_enabled" type="xsd:boolean"/></sequence></complexType></element></schema>